@use '../base/index' as *;

// .card-row {
//   display: flex;
//   flex-direction: row;
//   flex: 1 0 0%;
//   flex-wrap: wrap;
//   justify-content: flex-start;
//   &.centered {
//     justify-content: center;
//   }
//   &.space-evenly {
//     justify-content: space-evenly;
//   }
// }

.card-row {
  display: flex;
  justify-content: space-around;
}

.card {
  @include flex-column;
  background-color: $white;
  border: none;
  border-radius: 2px;
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  position: relative;
  z-index: 1;
  @include transition-mid;
  &__body {
    text-align: center;
  }
  &__title {
    font-weight: 500;
    font-family: var(--font-family-text);
    text-transform: none;
    color: $black;
  }
  &__footer{
    width: 100%;
    margin-top: auto;
    text-align: right;
  }
  &__link {
    color: $secondary;
    border-color: $secondary;
    margin-left: auto;
  }
}

// .card {
//   @include flex-column;
//   background-color: $white;
//   border: none;
//   border-radius: 2px;
//   height: 100%;
//   // width: 25rem;
//   // max-width: 25rem;
//   // margin: 1rem 0.5rem 2rem 0.5rem;  
//   @include transition-mid;
//   &.no-thumb {
//     .card-body {
//       padding: 1rem;
//     }
//   }
//   &.md {
//     width: 35rem;
//     max-width: 35rem;
//     min-width: 20rem;
//   }
//   &.lg {
//     width: 100%;
//     max-width: 100%;
//     min-width: 100%;
//   }
//   .card-thumbnail {
//     position: relative;
//     width: 100%;
//     height: 10rem;
//     background-color: $light-gray;
//     border-top-left-radius: 7.5px;
//     border-top-right-radius: 7.5px;
//     background-position: top;
//     background-size: cover;
//     background-repeat: no-repeat;
//     .type {
//       height: 2rem;
//       width: 2rem;
//       border-radius: 50%;
//       border: 3px solid $white;
//       background-color: $secondary;
//       color: $white;
//       position: absolute;
//       left: 0.5rem;
//       bottom: 0.5rem;
//       text-align: center;
//       font-size: 0.9rem;
//       padding: 0.25rem;
//     }
//     .actions {
//       @include flex-column;
//       align-items: flex-end;
//       margin: 0.5rem;
//       .btn {
//         margin: 0 0 0.25rem;
//       }
//     }
//   }
//   .card-icon {
//     font-size: 2rem;
//     color: $tertiary;
//     margin-bottom: 1rem;
//     i {
//       background-color: lighten($tertiary, 25%);
//       border-radius: 50%;
//       padding: 0.75rem;
//     }
//   }
//   .card-title {
//     font-weight: 500;
//     font-family: var(--font-family-text);
//     text-transform: none;
//     color: $black;
//   }
//   .card-meta,
//   .card-subtitle {
//     color: $gray;
//     font-size: var(--font-size-sm);
//     font-weight: 400;
//     margin: 0.5rem 0;
//     strong {
//       font-weight: 600;
//     }
//   }
//   .card-body {
//     padding: 1rem;
//     color: $black;
//     &.centered {
//       text-align: center;
//     }
//   }
//   .card-content {
//     margin-top: 1rem;
//     font-weight: 400;
//     display: -webkit-box;
//     -webkit-line-clamp: 5;
//     -webkit-box-orient: vertical;  
//     overflow: hidden;
//   }
//   .card-footer {
//     margin: auto 0 0 0;
//     padding: 0;
//     background-color: transparent;
//     margin-top: auto;
//     .btn-left {
//       @include row;
//       justify-content: flex-start;
//       padding: 0.25rem 0;
//     }
//     .btn-right {
//       @include row;
//       justify-content: flex-end;
//       padding: 0.25rem 0;
//     }
//     .btn-full {
//       padding: 0.5rem;
//       .btn {
//         width: 100%;
//         margin: 0;
//       }
//     }
//     a, button {
//       &.corner-btn {
//         background-color: $tertiary;
//         color: $white;
//         float: right;
//         border: none;
//         text-align: right;
//         padding: 0.75rem 0.5rem;
//         width: 3rem;
//         height: 3rem;
//         border-bottom-right-radius: 7.5px;
//         clip-path: polygon(100% 0, 0% 100%, 100% 100%);
//         position: relative;
//         line-height: 1;
//         @include transition-mid;
//         .btn-text {
//           // font-size: 1.25rem;
//           font-size: var(--font-size-sm);
//           font-weight: 400;
//           visibility: hidden;
//           opacity: 0;
//           margin-right: 1rem;
//           white-space: nowrap;
//           position: absolute;
//           // right: 0.75rem;
//           right: 1rem;
//           // bottom: 0.75rem;
//           bottom: 1rem;
//           @include transition-mid;
//         }
//         i {
//           position: absolute;
//           right: 0.5rem;
//           bottom: 0.5rem;
//           // bottom: 1rem;
//           font-weight: 500;
//           @include transition-mid;
//         }
//         &:hover {
//           cursor: pointer;
//         }
//         @media only screen and (max-width: 1140px) {
//           .btn-text {
//             // font-size: 1rem;
//             // bottom: 0.9rem;
//           }
//         }
//         @media only screen and (max-width: 875px) {
//           padding: 0.75rem 0.5rem;
//           border-bottom-left-radius: 7.5px;
//           width: 100%;
//           height: 3rem;
//           clip-path: none;
//           .btn-text {
//             font-size: 1.15rem;
//             visibility: visible;
//             opacity: 1;
//             margin-right: 2rem;
//           }
//           i {
//             position: absolute;
//             right: 1rem;
//             // bottom: 0.85rem;
//             bottom: 1rem;
//           }
//         }
//       }
//     }
//   }
  // @media only screen and (max-width: 1405px) {
  //   width: 20rem;
  // }
  // @media only screen and (max-width: 1140px) {
  //   width: 18rem;
  //   padding: 1.5rem 0.5rem;
  // }
  // @media only screen and (max-width: 875px) {
  //   width: 100%;
  //   max-width: 100%;
  //   padding: 1.5rem 0.5rem;
  //   margin: 1rem 0;
  // }
// }

// Clickable Cards
a,
button {
  &.card {
    padding: 0;
    color: inherit;
    cursor: pointer;
    box-shadow: $shadow--md;
    &:focus {
      border: none;
      outline: none;
      box-shadow: $shadow--focus !important;
    }
    &:focus,
    &:hover {
      background-color: $white;
      border: none;
      box-shadow: $shadow--lg;
      .card-title {
        text-decoration: underline;
      }
      .corner-btn {
        padding: 0.75rem 0.5rem;
        border-bottom-left-radius: 7.5px;
        width: 100%;
        height: 3rem;
        clip-path: none;
        @include transition-mid;
        .btn-text {
          visibility: visible;
          opacity: 1;
          margin-right: 1.5rem;
          @include transition-mid;
        }
        i {
          position: absolute;
          // right: 0.5rem;
          right: 1rem;
          // bottom: 0.85rem;
          bottom: 1rem;
          @include transition-mid;
        }
      }
    }
  }
}