@use '../base/index' as *;

// Toolbar
.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0.5rem;
  .group-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .group-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}