@use '../base/index' as *;

.text-only { // TODO: Is this used
  height: 8rem;
  margin: 1rem 0;
}


.hero {
  background: $white;
  height: 65vh;
  position: relative;
  .container {
    display: flex;
    align-items: center;
  }
  &__content {
    max-width: 50vw;
    margin-top: $header-height;
    .summary {
      margin: 1rem 0;
    }
    .cta {
      margin: 0;
    }
  }

  &__graphic {
    height: 70vh;
    width: 70vh;
    position: absolute;
    top: calc($header-height / 2);
    right: -15vw;
    border-radius: 50%;
    border: 2rem solid $tertiary;
    outline: 0.5rem solid $quaternary;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
}

.band {
  background-color: $primary;
  color: $white;
  height: 17.5rem;
  padding: 2rem 0;
  position: relative;
  &__content {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.padded {
  background-color: $tertiary;
  padding: 10vh;
  text-align: center;
}

#what-is-reac {
  background-color: $white;
  padding: 10vh;
  padding-top: calc(10vh + 8rem);
  text-align: left;
}

#what-is-nspire{
  background-color: $white;
  padding: 10vh;
  text-align: right;
}

#badges {
  background: $primary;
  border-top: 1rem solid $quaternary;
  border-bottom: 1rem solid $quaternary;
  outline: 1rem solid $tertiary;
  z-index: 1;
}

.badge {
  display: block;
  height: 10rem;
  margin: 2rem auto;
}

#contact-us {
  margin-bottom: -5rem;
  z-index: -1;
  padding-bottom: 15vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form-container {
  background-color: $white75;
  padding: 2rem;
}

// TODO: What?!
.graphic {
  width: 25rem;
  display: block;
}

.bottom-tri {
  width: 100%;
  position: absolute;
  z-index: 1;
}

// TODO: Typography
.lead {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: var(--font-size);
  &.primary {
    color: $primary;
  }
  &.secondary {
    color: $secondary;
  }
  &.tertiary {
    color: $tertiary;
  }
}

.title {
  font-size: var(--font-size-xl);
  font-weight: 400;
  margin: 0;
}

.summary {
  // TODO: Do I need anything here?
}