@use '../base/index' as *;

.text-only { // TODO: Is this used
  height: 8rem;
  margin: 1rem 0;
}


.hero {
  background: $white;
  height: 65vh;
  position: relative;
  .container {
    display: flex;
    align-items: center;
  }
  &__content {
    max-width: 40vw;
    margin-top: $header-height;
    .summary {
      margin: 1rem 0;
    }
    .cta {
      margin: 0;
    }

    @media only screen and (max-width: 1080px) {
      background-color: $white75;;
      z-index: 10;
      padding: 1rem;
      max-width: 100%;
    }
  }

  &__graphic {
    height: 70vh;
    width: 70vh;
    position: absolute;
    top: calc($header-height / 2);
    right: -15vw;
    border-radius: 50%;
    border: 2rem solid $tertiary;
    outline: 0.5rem solid $quaternary;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    @media only screen and (max-width: 1080px) {
      height: 65vh;
      width: 100%;
      border-radius: 0;
      border: none;
      outline: none;
      right: 0;
      background-size: cover;
      background-repeat: no-repeat;
    }
    @media only screen and (max-height: 722px) {
      height: 100vh;
    }
  }

  @media only screen and (max-height: 722px) {
    height: 100vh;
  }
}

.band {
  background-color: $primary;
  color: $white;
  height: 17.5rem;
  padding: 2rem 0;
  position: relative;
  &__content {
    text-align: center;
    margin-bottom: 2rem;
  }

  .card-row {
    flex-wrap: wrap;
  }

  .card {
    min-width: 12rem;
    margin: .5rem;
    flex: 1 0 20%;
  }

  @media only screen and (max-width: 1100px) {
    height: auto;
  }
}

.padded {
  background-color: $tertiary;
  padding: 10vh;
  text-align: center;
  @media only screen and (max-width: 1200px) {
    padding: 5vh;
  }
  @media only screen and (max-width: 1000px) {
    padding: 1vh;
  }
  @media only screen and (max-width: 800px) {
    padding: 2rem 0;
  }
}

#our-company {
  padding: 10vh;
  padding-top: calc(10vh + 8rem);
  @media only screen and (max-width: 1200px) {
    padding: 10vh 5vh 5vh;
  }
  @media only screen and (max-width: 1100px) {
    padding: 5vh 1vh 1vh;
  }
  @media only screen and (max-width: 900px) {
    padding: 2vh 0 1rem;
  }
}

#what-is-reac {
  background-color: $white;
  padding: 10vh;
  padding-top: calc(10vh + 8rem);
  text-align: left;
  @media only screen and (max-width: 1200px) {
    padding: 10vh 5vh 5vh;
  }
  @media only screen and (max-width: 1000px) {
    padding: 10vh 1vh 1vh;
  }
  @media only screen and (max-width: 800px) {
    padding: 10vh 0 1rem;
  }
}

#what-is-nspire{
  background-color: $white;
  padding: 10vh;
  text-align: right;
  @media only screen and (max-width: 1200px) {
    padding: 5vh;
  }
  @media only screen and (max-width: 1000px) {
    padding: 1vh;
  }
  @media only screen and (max-width: 800px) {
    padding: 2rem 0;
  }
}

#badges {
  background: $primary;
  border-top: 1rem solid $quaternary;
  border-bottom: 1rem solid $quaternary;
  outline: 1rem solid $tertiary;
  z-index: 1;
}

.badge {
  display: block;
  height: 10rem;
  margin: 2rem auto;
}

#contact-us {
  margin-bottom: -5rem;
  z-index: -1;
  padding-bottom: 15vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form-container {
  background-color: $white75;
  padding: 2rem;
}

// TODO: What?!
.graphic {
  width: 25rem;
  display: block;
  @media only screen and (max-width: 800px) {
    width: 90vw;
  }
}

.bottom-tri {
  width: 100%;
  position: absolute;
  z-index: 1;
}

// TODO: Typography
.lead {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: var(--font-size);
  &.primary {
    color: $primary;
  }
  &.secondary {
    color: $secondary;
  }
  &.tertiary {
    color: $tertiary;
  }
}

.title {
  font-size: var(--font-size-xl);
  font-weight: 400;
  margin: 0;
}

.summary {
  // TODO: Do I need anything here?
}