@use '../base/index' as *;

.footer-topper {
  // position: absolute;
  // bottom: 20rem;
}

footer {
  margin-top: auto !important;
  // background-color: $almost-black;
  background-color: $primary;
  color: $white;
  font-size: 1rem;
  padding: 2rem 0 0 0 !important;
  height: 20rem;
  p,
  a {
    font-size: var(--font-size-sm);
    color: $white;
    border-color: $white;
    margin: 0;
    line-height: 1.25;
  }
  a {
    color: #a3daff; // todo: add to vars
    border-color: #a3daff;
  }
  .footer-logo {
    width: 7.5rem;
  }
  .social-link {
    font-size: var(--font-size-md);
    color: $white75 !important;
    margin: 0.15rem 0.25rem;
    &:hover,
    &:focus {
      color: $secondary !important;
    }
  }
  h5 {
    margin-bottom: 1rem;
  }
  // TODO: move to typography
  .text-right {
    text-align: right;
  }
}


#footer-menu {
  margin: 0;
  &.menu {
    line-height: 1.5;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
