@use '../base/index' as *;

// General
.header {
  box-shadow: $shadow--lg;
  position: fixed;
  z-index: 10;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #primary-nav {
    @include media-breakpoint(md) {
      display: none;
    }
  }
  &__upper {
    height: $header-upper-height;
    background-color: $primary;
    color: $white;
    font-size: 1rem;
    .container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    a {
      color: $white !important;
      border: none;
      &:hover{
        color: $black !important;
      }
    }
  }
  &__main {
    height: $header-main-height;
    background-color: $white;
    padding: 1rem 0;
    color: $black;
    a {
      color: $black !important;
      text-transform: uppercase;
    }
  }
}

.logo-container {
  display: block;
  .logo {
    height: 4.5rem;
    // @include media-breakpoint(lg) {
    //   height: 4rem;
    // }
  }
}

#mobile-menu {
  display: none;
  color: $white;
  padding: 0.75rem;
  margin: 0;
  font-size: 1.75rem;
  @include media-breakpoint(md) {
    display: block;
  }
}

#header-menu {
  display: flex;
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
  a {
    font-weight: 300;
    // font-size: 1.15rem;
    font-size: var(--font-size-base);
    color: $white;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    &:focus,
    &:hover {
      border-color: $white;
      text-decoration: none;
      background-color: transparent;
      @include media-breakpoint(md) {
        border-bottom: none;
        color: $white !important;
      }
    }
    // @include media-breakpoint(xl) {
    //   font-size: var(--font-size-sm) !important;
    // }
    @include media-breakpoint(md) {
      border-bottom: none;
    }
  }
  .current-menu-item {
    a {
      font-weight: 700;
      border-bottom: 2px solid $secondary;
      @include media-breakpoint(md) {
        border-bottom: none;
        color: $secondary !important;
      }
    }
  }
}

// Multi-level Dropdown Nav
#primary-nav {
  .menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0 1rem;
      &:focus-within,
      &:hover {
        .sub-menu {
          display: flex;
        }
      }
      a {
        font-size: var(--font-size-base);
        font-weight: 400;
        padding: 0.15rem;
        margin-left: 0.5rem;
        color: $light-text;
      }
    }
  }
  .sub-menu {
    position: absolute;
    background-color: $white;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 0.5rem;
    margin: 1rem 0 0 0;
    min-width: 12rem;
    box-shadow: 0px 0px 10px $black25;
    li {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      a {
        padding: 0.75rem 1rem;
        font-weight: 400;
        color: $dark-text;
        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &.open {
    display: block;
    position: absolute;
    right: 0;
    top: $header-height;
    background: $primary;
    height: 100vh;
    #header-menu.menu {
      flex-direction: column;
      margin-top: 2rem;
      li { 
        width: 100vw;
        display: inline-flex;
        margin: 0 0 0.25rem 0;
        a {
          // font-size: 2rem;
          font-size: var(--font-size-md);
          padding: 1rem 2rem;
          margin: 0;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    display: none;
  }
}
