@use 'variables' as *;

// Brand Colors
$primary: #003C70;
$secondary: #0B7D52;
$tertiary: #D3E0Eb;
$quaternary: #94AFC6;

// General
$body-bg: $almost-white;

// Header
$brandname-text: $white90;
$brandname-text-hover: $white;
$header-bg: $primary;
$header-text: $white;
$header-height: 7rem;
$header-upper-height: 2.5rem;
$header-main-height: 5rem;

// General Use
$light-text: $white;
$light-text-hover: $white;
$dark-text: $black;
$dark-text-hover: $black;

// Other
$special-bg: $midnight;
$article-bg: $white;

// Special
// Homepage - Sections
$even-bg: $almost-white;
$even-text: $dark-text;
$odd-bg: $midnight;
$odd-text: $light-text;