@use 'breakpoints' as *;
@use 'settings' as *;
@use 'variables' as *;

// Protest Strike
@font-face {
  font-family: "Protest_Strike";
  font-style: normal;
  src: url("../vendor/fonts/Protest_Strike/ProtestStrike-Regular.ttf") format("truetype");
}
// font-family: 'Protest_Strike', sans-serif;

// Lexend
@font-face {
  font-family: "Lexend Thin";
  font-style: normal;
  src: url("/assets/fonts/Lexend/Lexend-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend SemiBold";
  font-style: normal;
  src: url("/assets/fonts/Lexend/Lexend-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  src: url("/assets/fonts/Lexend/Lexend-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend Medium";
  font-style: normal;
  src: url("/assets/fonts/Lexend/Lexend-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend Light";
  font-style: normal;
  src: url("/assets/fonts/Lexend/Lexend-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend ExtraLight";
  font-style: normal;
  src: url("/assets/fonts/Lexend/Lexend-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend ExtraBold";
  font-style: normal;
  src: url("/assets/fonts/Lexend/Lexend-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend Bold";
  font-style: normal;
  src: url("/assets/fonts/Lexend/Lexend-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend Black";
  font-style: normal;
  src: url("/assets/fonts/Lexend/Lexend-Black.ttf") format("truetype");
}
// font-family: 'Lexend', sans-serif;

// Variables
// $baseFontSize: 16px;

// Font Variables
:root {
  // Font Families
  --font-family-todo: 'TodoCustom', sans-serif;
  --font-family-headings: 'Lexend', serif;
  --font-family-text: 'Lexend', serif;

  // Font Size
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1rem, 0.61vw + 1.1rem, 1.25rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(5.5rem, 3.54vw + 2.17rem, 8rem);
}

html, 
body {
  font-family: var(--font-family-text);
  font-size: 16px;
  color: $black;
}

h1 {
  font-family: var(--font-family-text);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  margin: 1rem 0;
  line-height: 0.75;
}

h2:not(.title) {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-xxl);
  font-weight: 200;
  margin: 0.75rem 0;
  text-transform: uppercase;
}

h3 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-xl);
  font-weight: 200;
  margin: 0.5rem 0;
}

h4 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-lg);
  font-weight: 200;
  margin: 0.25rem 0;
  text-transform: uppercase;
  color: #B87333;
}

h5 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-md);
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
  color: #B87333;
}

.h5 {
  font-family: var(--font-family-headings) !important;
  font-size: var(--font-size-md) !important;
  font-weight: 200 !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  color: #B87333 !important;
}

h6 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-base);
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
  color: $black;
}

.h6 {
  font-family: var(--font-family-headings) !important;
  font-size: var(--font-size-base) !important;
  font-weight: 200 !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  color: $black !important;
}

p {
  font-family: var(--font-family-text);
  font-size: var(--font-size-base);
  color: $black;
  margin: 0.5rem 0 1rem 0;
  line-height: 1.5;
  &.small {
    font-size: var(--font-size-sm);
  }
}

.small {
  font-size: var(--font-size-sm);
}

.subtitle {
  font-family: var(--font-family-text);
  font-size: var(--font-size-base);
  font-weight: 600;
  color: $dark-gray;
  margin: 0 0 1rem 0;
}


// Helper Classes
.text-center {
  text-align: center !important;
}

.secondary-text {
  color: $secondary !important;
}